@page
@model asp_presentacion.Pages.Ventanas.PagosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
        enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Pagos</h3>
            </div>
            <div align="left"
            class="bt_panel_buttons">
                <input type="submit"
                value="Refrescar"
                asp-page-handler="BtRefrescar"
                class="btn btn-secondary"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                value="Pagar"
                asp-page-handler="BtNuevo"
                class="btn btn-secondary"
                disabled />
                <input type="submit"
                value="Guardar"
                asp-page-handler="BtGuardar"
                class="btn btn-secondary"
                disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                value="Cancelar"
                asp-page-handler="BtCancelar"
                class="btn btn-secondary"
                disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @if (Model != null && Model.Lista != null)
                {
                    <input type="submit"
                           value="Excel"
                           asp-page-handler="ExportarExcel"
                           class="btn btn-secondary"
                           disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                           value="PDF"
                           asp-page-handler="ExportarPDF"
                           class="btn btn-secondary"
                           disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                }
               
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Codigo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Medio" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Total" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Promocion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Reserva" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Casa</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Codigo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstudiante"
                                       class="cts_forms form-control"
                                       readonly
                                       value="@Model.Actual!.Codigo"
                                       asp-for="@Model.Actual!.Codigo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Medio de pago
                            </label>
                            <div class="col-lg-6">
                                <select id="nmNota2"
                                        class="cts_forms form-control"
                                        asp-for="@Model.Actual!.Medio">
                                    <option value="Tarjeta">Tarjeta</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Cuotas">Cuotas</option>
                                    <option value="Transferencia">Transferencia</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Total
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Total" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Descuento
                            </label>
                            <div class="col-lg-6">
                                <select id="nmDistribuidor"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Promocion"
                                        asp-items="@(new SelectList(Model.Promociones, "Id", "Descuento"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Reserva
                            </label>
                            <div class="col-lg-6">
                                <input type="text"
                                       id="nmDistribuidor"
                                       class="form-control"
                                       value="@Model.Actual!._Reserva!.Codigo"
                                       asp-for="@Model.Actual!._Reserva!.Codigo"
                                       readonly />
                            </div>
                        </div>
                        <input id="nmEstudiante"
                               class="cts_forms form-control"
                               hidden
                               value="@Model.Actual!.Reserva"
                               asp-for="@Model.Actual!.Reserva!" />
                        
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Codigo,
                                @Model.Actual!._Reserva!.Codigo
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flCodigo"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Codigo"
                       placeholder="Codigo" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Medio
                            </th>
                            <th class="cl_hidden">
                                Total
                            </th>
                            <th class="cl_hidden">
                                Descuento
                            </th>
                            <th class="cl_hidden">
                                Reserva
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Codigo
                                    </td>
                                    <td>
                                        @elemento.Medio
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Total
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento._Promocion!.Descuento
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento._Reserva!.Codigo
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
